*{
  margin: 0;
}

header {
  background: url('img/pattern.png');
  background-color: rgba(60, 90, 242, 0.833);
}

.colore-nome-giornale {
  color:aqua;
}

.didascalia-tim {
  font-size: smaller;
}

.paragraf {
 margin-top: 25px;
}

.evidenziatore1 {
  background-color: yellow;
}

.lista {
  margin-top: 25px;
}

.tabella {
  margin-top: 25px;
}

.paragraf2 {
  margin-top: 25px;
}

.finale {
  margin-top: 25px;
}

.adv-finale {
  color: grey;
}