*{
  margin: 0;
  padding: 0%;
}

header {
  height: 100px;
  padding: 10px;
  background: url('img/pattern.png');
  background-color: rgba(60, 90, 242, 0.833);
  background-size: 25%;
}

.pattern {
  width: 200px;
}

.colore-nome-giornale {
  color:aqua;
}

.dida data {
  color: grey;
}

.data {
  font-size: 0.8rem;
}

main{
  padding: 20px 10px;
}

main p.text{
  padding: 20px 0px;
}

main ul {
  margin-left: 15px;
}

.didascalia-tim {
  font-size: smaller;
}

.paragraf {
 margin-top: 25px;
}

.evidenziatore1 {
  background-color: yellow;
}

.lista {
  margin-top: 25px;
}

.tabella {
  margin-top: 25px;
  border-collapse: collapse;
}

.paragraf2 {
  margin-top: 25px;
}

.finale {
  margin-top: 25px;
}

.adv-finale {
  color: grey;
}

.bg-blue {
  background-color: lightskyblue;
  color: white;
  text-align: left ;
}

.bg-tr {
  background-color: aqua;
}

.bg-tr2 {
  background-color: aqua;
}

footer {
  padding: 20px 10px;
}

footer .image-box{
  width: 207px;
  height: 158px;
  background-color: red;
  color: white;
  margin: 10px 0;
  padding: 20px;
}

#image-monitor{
  background-image: url(img/monitor.jpg);
}

#image-graph{
  background-image: url(img/graph.jpg);
}
